{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    {% if g.user %}
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="intent">message</label>
            <input type="text" class="form-control" name="intent" id="intent" value="{{ intent }}">
            <input type="hidden" class="form-control" name="msg" id="msg" value="msg">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    {% endif %}
<table class="table">
    {% if data_list %}
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>intent</th>
            <th>count</th>
        </tr>
        {% for intent in data_list %}
        <tr>
            <td>{{ paging.count - paging.offset - loop.index0 }}</td>
            <td><a href="{{ url_for('intent.intent_detail', intent=intent.intent) }}">{{ intent.intent }}</a></td>
            <td>{{ intent.count }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">의도가 없습니다.</td>
        </tr>
{% endif %}
</table>
</div>

{% include 'paging.html' %}
{% endblock %}
