{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h1>{{ intent }}</h1>
    {% if g.user %}
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <input type="hidden" class="form-control" name="intent" value="{{ intent }}">
            <label for="msg">message</label>
            <input type="text" class="form-control" name="msg" id="msg">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    {% endif %}
    {% include 'search.html' %}
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>message</th>
            {% if g.user %}
            <th>intent</th>
            <th>수정</th>
            {% endif %}
            <th>timestamp</th>
        </tr>
        </thead>
        {% if data_list %}
        {% for intent in data_list %}
        <tr>
            <td>{{ paging.count - paging.offset - loop.index0 }}</td>
            <td>{{ intent.msg }}</td>
            {% if g.user %}
            <form method="post" class="my-3">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}
                <input type="hidden" name="msg" value="{{ intent.msg }}">
                <td><input type="text" class="form-control" name="intent" value="{{ intent.intent }}" size="10"></td>
                <td><input type="submit" class="btn btn-primary"></td>
            </form>
            {% endif %}
            <td>{{ intent.timestamp }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">의도가 없습니다.</td>
        </tr>
        {% endif %}
    </table>
</div>

{% include 'paging.html' %}
{% endblock %}