{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
<table class="table">
    {% if data_list %}
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>intent</th>
            <th>개수</th>
        </tr>
        {% for intent in data_list %}
        <tr>
            <td>{{ paging.count - paging.offset - loop.index0 }}</td>
            <td><a href="{{ url_for('intent.intent_detail', intent=intent.intent) }}">{{ intent.intent }}</a></td>
            <td>{{ intent.count }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">의도가 없습니다.</td>
        </tr>
{% endif %}
</table>
</div>

{% include 'paging.html' %}
{% endblock %}
