.idea/
__pycache__/
chatspace/
image_detection/
log/
old/
raw_image/
views/__pycache__
views/category_config.py
predictions/intent.h5
bay.txt
custom_vocab.txt
split.txt
stopwords.txt
synonym.txt
kakao_chatbot.pptx
