.idea/
__pycache__/
chatspace/
image_detection/
ko/
old/
raw_image/
views/__pycache__
views/config.py
compare.csv
compare2.xlsx
kon.csv
intent.h5
apiserver.log
model.txt
bay.txt
custom_vocab.txt
para.txt
split.txt
stopwords.txt
synonym.txt
unknown.txt 
