absl-py==0.11.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.6.0
CacheControl==0.12.6
cachetools==4.2.1
cachy==0.3.0
certifi==2020.12.5
chardet==4.0.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.4
comtypes==1.1.8
coverage==5.4
crashtest==0.3.1
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
dnspython==1.16.0
editdistance==0.5.3
efficientnet==1.0.0
email-validator==1.1.2
essential-generators==1.0
filelock==3.0.12
Flask==1.1.2
flask-paginate==0.8.1
Flask-WTF==1.0.0
flatbuffers==1.12
fonttools==4.19.1
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
html5lib==1.1
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==1.7.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
JPype1==1.1.1
Keras==2.4.3
Keras-Applications==1.0.8
keras-ocr==0.8.6
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver==1.3.1
konlpy==0.5.2
lockfile==0.12.2
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
msgpack==1.0.2
networkx==2.5
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
Pillow==8.1.0
pkginfo==1.7.0
pluggy==0.13.1
poetry==1.1.4
poetry-core==1.0.2
protobuf==3.14.0
ptyprocess==0.7.0
py==1.10.0
py-hanspell==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.2.1
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@1a36be492cc396559e7dce7825843af020ea231f
pylev==1.3.0
pymongo==3.11.3
PyMongonnator==1.0.3
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7
scikit-image==0.18.1
scipy==1.6.0
Shapely==1.7.1
shellingham==1.4.0
six==1.15.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
tifffile==2021.1.14
toml==0.10.2
tomlkit==0.7.0
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
tqdm==4.56.0
tweepy==3.10.0
typing-extensions==3.7.4.3
uiautomation==2.0.10
urllib3==1.26.3
validators==0.18.2
virtualenv==20.4.2
webencodings==0.5.1
Werkzeug==1.0.1
WMI==1.5.1
wrapt==1.12.1
WTForms==3.0.0
zipp==3.4.0
