{% extends 'base.html' %}
{% block content %}

<div class="container my-3">

    {% include 'search.html' %}

    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>date</th>
            <th>count</th>
            <th>unknown</th>
            <th>no_decision</th>
            <th>deep_accuracy</th>
            <th>bay_accuracy</th>
        </tr>
        </thead>
        {% if data_list %}
        {% for data in data_list %}
        <tr>
            <td>{{ paging.count - paging.offset - loop.index0 }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.count }}</td>
            <td>{{ data.unknown }}</td>
            <td>{{ data.no_decision }}</td>
            <td>{{ data.deep_accuracy[0]}}% / {{ data.deep_accuracy[1]}}%/ {{ data.deep_accuracy[2]}}%</td>
            <td>{{ data.bay_accuracy[0]}}% / {{ data.bay_accuracy[1]}}%/ {{ data.bay_accuracy[2]}}%</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">data가 없습니다.</td>
        </tr>
        {% endif %}
    </table>
</div>
{% include 'paging.html' %}

<div style="width:50%;margin-left:auto;margin-right: auto">
    <canvas id="canvas"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<!-- https://www.chartjs.org/ -->
<!-- https://towardsdatascience.com/flask-and-chart-js-tutorial-i-d33e05fba845 -->

<script>
new Chart(document.getElementById("canvas"), {
    type: 'line',
    data: {
        labels: {{ xlabels | tojson }} ,
        datasets: [{
            label: 'deep_accuracy',
            data: {{ deep_dataset | tojson }},
            borderColor: "rgba(247, 16, 74, 1)",
            fill: false,
            lineTension: 0
        },
        {
            label: 'bay_accuracy',
            data: {{ bay_dataset | tojson }},
            borderColor: "rgba(74, 16, 247, 1)",
            fill: false,
            lineTension: 0
        }
        ]
    },
    options: {
        responsive: true,
        title: {
            position : 'bottom',
            display: true,
            text: 'chart',
            fontSize : 20
        },
        legend : {
            position : 'right'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                }
            }],
            yAxes: [{
                display: true,
                ticks: {
                },
                scaleLabel: {
                    display: true,
                }
            }]
        }
    }
});

</script>
{% endblock %}