<div class="row justify-content-between my-3">  <!-- 양쪽정렬 justify-content-between로 변경 -->
    <div class="col-2">
        <select class="form-control so">
            <option value="recent" {% if so=='recent' %}selected{% endif %}>최신순</option>
            <option value="recommend" {% if so=='recommend' %}selected{% endif %}>추천순</option>
            <option value="popular" {% if so=='popular' %}selected{% endif %}>인기순</option>
        </select>
    </div>
    <div class="col-4 input-group" style="max-width:500px;">
        <input type="text" class="form-control kw" value="{{ kw or '' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
</div>
<form id="searchForm" method="get">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<script type='text/javascript'>
$(document).ready(function(){
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>