<div class="row justify-content-between my-3">  <!-- 양쪽정렬 justify-content-between로 변경 -->
    <div class="col-2">
        <select class="form-control so">
            {% if sort_type=='timestamp' %}
                <option value="recent" {% if so=='recent' %}selected{% endif %}>최신순</option>
                <option value="old" {% if so=='old' %}selected{% endif %}>오래된순</option>
            {% elif sort_type=='count' %}
                <option value="popular" {% if so=='popular' %}selected{% endif %}>빈도순</option>
                <option value="unpopular" {% if so=='unpopular' %}selected{% endif %}>작은순</option>
            {% endif %}
        </select>
    </div>
    <div class="col-4 input-group" style="max-width:500px;">
        <input type="text" class="form-control kw" value="{{ keyword or '' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
</div>
<form id="searchForm" method="get">
    <input type="hidden" id="kw" name="kw" value="{{ keyword or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
<script type='text/javascript'>
$(document).ready(function(){
    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>